h2, h1 {
  text-transform: uppercase;
  font-family: "Oswald";
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    /* margin: 4px 0; */
    font-size: 2.5rem
}

td {
    padding: 0.5rem 2rem;
}

*, ::after, ::before {
    box-sizing: border-box !important;
}

.flash {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    height: 330px;
    object-fit: cover;
}

.pagecontent {
    max-width: 1000px;
    margin-bottom: 100px;
}

.headercard {
    background-color: #3C4F70;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    color: #fff;
    width: 800px;
    height: 3rem;
}

.headercard p {
    float: left;
    width: 50%;
}

.headercardusers {
    background-color: #fff;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    color: #555;
    width: 800px;
}

.headercardusers p {
    float: left;
    width: 33%;
}


.login-register {
    font-size: 1rem;
    background-color: #3C4F70;
    width: 600px;
    border-radius: 4px;
    margin: 4px;
    padding: 20px 100px;
    color: #fff;
}

.ng-valid[required], .ng-valid.required  {
  border: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border: 5px solid #a94442; /* red */
}

.form-group {
    max-width: 420px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input:focus {
  border: 3px solid #555;
}

button {
  background-color: #F68B3E;
  width: 230px;
  border: none;
  color: white;
  padding: 0px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Oswald";
  font-size: 24px;
}

.blue {
    background-color: #3366e6;
}

.orange {
    color: #F68B3E;
}

.orange a {
    color: #F68B3E;
}

button a {
    text-decoration: none;
    color: white;
}
