<img
    width="100%"
    class="flash"
    alt="Logo"
    src="assets/img/picture_4.jpeg"
/>

<div class="pagecontent">
    <h1>USERS</h1>

    <div class="headercard">
        <p>USERS</p>
    </div>
    <table>
        <tr>
            <th>EMAIL</th>
            <th>ROLE</th>
            <th></th>
        </tr>
        <tr *ngFor="let object of this.users">
            <td>{{ object.email }}</td>
            <td>{{ object.role }}</td>
            <td><button mat-button (click)="openDialog(object.email)">Change user role</button></td>
        </tr>
    </table>
</div>

<ng-template #callAPIDialog>
    <form [formGroup]="editForm" (ngSubmit)="onSend()">
        <h4 matDialogTitle>Change user role for {{ modalUser }}</h4>
        <mat-form-field>
            <select matInput formControlName="modalRole">
                <option value="">Choose modalRole</option>
                <option [ngValue]="">superuser</option>
                <option [ngValue]="">admin</option>
                <option [ngValue]="">student</option>
            </select>
        </mat-form-field>
        <mat-dialog-actions align="end">
            <button mat-button matDialogClose="no">CANCEL</button>
            <button type="submit" mat-button>SAVE</button>
        </mat-dialog-actions>
    </form>
</ng-template>
