<img
    width="100%"
    class="flash"
    alt="Logo"
    src="assets/img/picture_2.jpeg"
/>

<div class="pagecontent">
    <h1>LAB EQUIPMENT</h1>

    <div class="headercard">
        <p>EQUIPMENT</p>
    </div>

    <div *ngFor="let object of this.equipment">
        <div class="equicard">
            <div class="equicardthird">
                <div *ngIf="object.picture; else elseBlock">
                    <img
                        width="100%"
                        class="flash"
                        alt="Logo"
                        src="{{ object.picture }}"
                    />
                </div>
                <ng-template #elseBlock>
                    <img
                        width="100px"
                        alt="Logo"
                        src="assets/img/no_image.png"
                    />
                </ng-template>
            </div>
            <div class="equicardthird">
                <p>Name: {{ object.name }}</p>
                <p>Total amount: {{ object.amount }}</p>
            </div>
            <div class="equicardthird">
                <div class="form">
                    <form [formGroup]="bookForm" (ngSubmit)="onSubmit(object.id, object.name)">
                        <mat-form-field apperance="fill">
                          <mat-label>Choose date</mat-label>
                          <input matInput [matDatepicker]="picker"
                               formControlName="bookDate">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                            BOOK
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
