<img
    width="100%"
    class="flash"
    alt="Logo"
    src="assets/img/picture_4.jpeg"
/>

<div class="pagecontent">
    <h1>HISTORY</h1>

    <div class="headercard">
        <p>{{ equipment.name }}</p>
        <p>ID: {{ equipment.id }}</p>
    </div>
    <table class="table">
        <tr>
            <th>DATE</th>
            <th>ACTION</th>
            <th>AMOUNT</th>
            <th>USER</th>
        </tr>
        <tr *ngFor="let event of history">
            <td>{{ event.event_date }}</td>
            <td>{{ event.action }}</td>
            <td>{{ event.amount }}</td>
            <td>{{ event.user_email }}</td>
        </tr>
    </table>
</div>
