<img
    width="100%"
    class="flash"
    alt="Logo"
    src="assets/img/picture_5.jpg"
/>

<div class="pagecontent">
    <h1>MY EQUIPMENT</h1>

    <div class="headercard">
        <p>BOOKED EQUIPMENT</p>
    </div>

    <div *ngFor="let object of this.bookings">
        <div class="equicard">
            <div class="equicardthird">
                <div *ngIf="object.picture; else elseBlock">
                    <img
                        width="100%"
                        class="flash"
                        alt="Logo"
                        src="{{ object.picture }}"
                    />
                </div>
                <ng-template #elseBlock>
                    <img
                        width="100px"
                        alt="Logo"
                        src="assets/img/no_image.png"
                    />
                </ng-template>
            </div>
            <div class="equicardthird">
                <p>Equipment ID: {{ object.equipment_id }}</p>
                <p>Equipment name: {{ object.equipment_name }}</p>
                <p>Rent Date: {{ object.rent_date }}</p>
                <p>Status: {{ object.status }}</p>
            </div>
            <div class="equicardthird">
                <button *ngIf="dateToday==object.rent_date && object.status=='booked'" (click)="pickupEquipment(object.equipment_id, object.id)">
                    <a>PICK UP</a>
                </button>
                <button *ngIf="object.status=='pickedup'" (click)="this.returnEquipment(object.equipment_id, object.id)">
                    <a>RETURN</a>
                </button>
            </div>
        </div>
    </div>
</div>
